{% extends 'base.html' %}
{% block title %}
Home
{% endblock%}

{% block content %}
{% if schools_list%}
{% for school in schools_list%}
    <div class="jumbotron">
        <h1>{{school.name}}</h1>
        {%for teacher in school.teachers.all%}
            <h3>{{teacher.name}} - <i>{{teacher.grade}}</i></h3>
            <table class="table">
                <thead class="table">
                    <tr>
                        <th>Name</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    {%for student in teacher.student_set.all%}
                    <tr>
                        <td>{{student.name}}</td>
                        <td>{{student.check_points}}</td>
                    </tr>
                    {%endfor%}
                </table>
        {%endfor%}
    </div>
{%endfor%}
{%endif%}
{% endblock %}
```