{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3>Spend Cash for {{student.name}}</h3>
                    <h5>Current Points: {{student.check_points}}</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" value="{{ field.value|default:'' }}">
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-warning">Spend Cash</button>
                        <button type="button" class="btn btn-secondary" onclick="window.history.back()">Cancel</button>
                        <!-- Add a hline to separate the quick spend buttons from the form -->
                        <hr>
                        <h5>Quick Spend:</h5>
                        <div class="text-center">
                            {% for quick_spend_point in quick_spend_points %}
                                <button type="button" class="btn btn-large btn-primary mx-2" onclick="document.getElementById('id_points').value='{{ quick_spend_point.points }}'; this.form.submit();"> ({{ quick_spend_point.get_points }} Clark Bucks)</button>
                            {% endfor %}
                        </div>
                    </form>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
